<!doctype html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Country Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/RegisterStyle.css}">
</head>
<body>
<!--start codes-->
<div class="user">
    <header class="user__header">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt=""/>
        <h1 class="user__title">Save Country In Database</h1>
    </header>
    <form th:method="post" th:action="@{/country/register}" th:object="${key_form}" class="form">

        <div class="form__group">
            <input th:field="*{countryId}" type="text" class="form__input" th:placeholder="#{countryId}" autofocus>
            <div th:if="${#fields.hasErrors('countryId')}" th:errors="*{countryId}"></div>
        </div>

        <div class="form__group">
            <input th:field="*{countryName}" type="text" class="form__input" th:placeholder="#{countryName}">
            <div th:if="${#fields.hasErrors('countryName')}" th:errors="*{countryName}"></div>
        </div>

        <div class="form__group">
            <input th:field="*{countryContinent}" type="text" class="form__input" th:placeholder="#{countryContinent}">
            <div th:if="${#fields.hasErrors('countryContinent')}" th:errors="*{countryContinent}"></div>
        </div>

        <div class="form__group">
            <input th:field="*{countryPopulation}" type="text" class="form__input" th:placeholder="#{countryPopulation}">
            <div th:if="${#fields.hasErrors('countryPopulation')}" th:errors="*{countryPopulation}"></div>
        </div>

        <div class="form__group">
            <input th:field="*{countryArea}" type="text" class="form__input" th:placeholder="#{countryArea}">
            <div th:if="${#fields.hasErrors('countryArea')}" th:errors="*{countryArea}"></div>
        </div>

        <div class="form__group">
            <input th:field="*{countryNeighbors}" type="text" class="form__input" th:placeholder="#{countryNeighbors}">
            <div th:if="${#fields.hasErrors('countryNeighbors')}" th:errors="*{countryNeighbors}"></div>
        </div>

        <div class="form__group">
            <input th:field="*{countryFoundingYear}" type="text" class="form__input" th:placeholder="#{countryFoundingYear}">
            <div th:if="${#fields.hasErrors('countryFoundingYear')}" th:errors="*{countryFoundingYear}"></div>
        </div>
        <input class="btn" style="width:100%" type="submit" value="Register">
    </form>
    <form th:action="@{/country/findall}">
        <input class="btn" style="width:100%" type="submit" value="Countries">
    </form>
</div>
<!--end codes-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>